<div class="p1dv1 col-8" >

    <div class="row">
        <div class="col-3 ">
        </div>
        <div class="col-6 ">
            <h1 class="hmPgTtl" >This is a Test page</h1>
        </div>
        <div class="col-1"  >
        </div>
    </div>

    <div class="img mt-3">
        <!--<img src="https://i.assetzen.net/i/2VY7rX5z2Jh1/w:1920/h:/q:70.jpg"  class="img-fluid imgcus1" alt="Responsive image">-->
        <div class="row">
            <div >
                <img src="assets/uni-2.jpg" class="img-fluid imgcus1" alt="Responsive image">
            </div>

        </div>
        
        
    </div>
    <div>
      <br> 
      <br>  
      <br> 
      <br>  

    </div>    
</div>