<div class = "background">
  <div class="reset-password-container">
      <ng-container *ngIf="!showSuccessScreen">
        <h2>Reset Password</h2>
        <div class="input-group">
          <input type="text" [(ngModel)]="otp" placeholder="Enter OTP">
        </div>
        <div class="input-group">
          <input type="text" [(ngModel)]="username" placeholder="Enter Username" >
        </div>
        <div class="input-group">
        <input type="password" [(ngModel)]="password" placeholder="Enter New Password" [type]="isPasswordVisible ? 'text' : 'password'">
        <i
        class="eye-icon fas"
        [class.fa-eye]="!isPasswordVisible"
        [class.fa-eye-slash]="isPasswordVisible"
        (click)="togglePasswordVisibility('password')"
      ></i>
      </div>
        <button (click)="resetPassword()" [disabled]="isLoading">{{ isLoading ? 'Resetting...' : 'Reset' }}</button>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
        <button class="otp-again-btn" (click)="sendOTPAgain()">Didn't get OTP? Click here to send the OTP again</button>
      </ng-container>
    
      <ng-container *ngIf="showSuccessScreen">
        <p class="success">{{ successMessage }}</p>
        <button (click)="router.navigate(['/login'])" class="redirect-btn">Go to Login</button>
      </ng-container>
    </div>
</div>