:host ::ng-deep .background {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.3), /* Semi-transparent white */
    rgba(255, 255, 255, 0.76)
  ), url('/assets/background-img/background08.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.game-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-family: 'MedievalSharp', sans-serif;

}

.game-title {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
}

/* Flexbox layout for the two blocks */
.options-blocks {
  display: flex;
  justify-content: center;
  gap: 50px; /* Space between the blocks */
  width: 100%;
}

/* Individual block styles */
.option-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  background-size: contain; /* Ensure the whole image is shown */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the image */
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}


/* Ensure consistent padding/margins */
.option-block {
  margin: 0 auto; /* Center horizontally */
}

/* Specific images for Learn and Play blocks */
.learn-block {
  background-image: url('/assets/learn.png'); /* Add the image path */
}

.play-block {
  background-image: url('/assets/play.png'); /* Add the image path */
}

/* Centered text styling */
.option-text {
  font-size: 2rem;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}

/* Add margin-left to the option-text in the first block */
.option-block:nth-child(1) .option-text {
  margin-left: 45px; /* Add a small left margin to the text in the first block */
}

/* Hover effect */
.option-block:hover {
  transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 768px) {
  .options-blocks {
    flex-direction: column;
    align-items: center; /* Center align in column direction */
    gap: 15px;
  }

  .option-block {
    max-width: 100%; /* Full width on mobile */
    width: 300px; /* Set a max width to ensure consistent size */
    height: 200px;
  }

  .option-text {
    font-size: 1.5rem; /* Slightly smaller text on mobile */
  }

    /* Add margin-left to the second block only in responsive mode */
    .option-block:nth-child(2) {
      margin-left: 50px; /* Add margin-left to the second block */
    }
}
