<div class="users-container">
    <!-- Add User Button -->
    <div class="header">
    
  
    <div class="tabs">
      <button 
      (click)="switchToStudents()"
      [class.active]="userType === 'STUDENT'">
      <img src="/assets/admin/students.png" alt="Students" class="card-icon" />
        Students
        <span class="user-count">{{ studentCount || 0 }}</span>
      </button>
      <button 
      (click)="switchToInstructors()"  
      [class.active]="userType === 'INSTRUCTOR'">
      <img src="/assets/admin/instructor.png" alt="Instructors" class="card-icon" />

        Instructors
        <span class="user-count">{{ instructorCount || 0 }}</span>
      </button>
    </div>

    <button class="add-user-btn" (click)="openAddUserPopup()">Add New User</button>

  
  </div>
   

    <!-- User List -->
    <div class="user-list">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th *ngIf = "userType === 'STUDENT'">Join Date</th>
            <th *ngIf = "userType === 'STUDENT'">Engagement</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of paginatedUsers">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.gender }}</td>
            <td *ngIf = "userType === 'STUDENT'">{{ user.signupDate }}</td>
            <td *ngIf = "userType === 'STUDENT'">
              <button (click)="openTimeTrackingPopup(user)">
                {{ formatTime(user.totalTime) }}
              </button>
            </td>
            <td class="user-actions">
              <button (click)="openEditUserPopup(user)">
                <span class="material-icons">edit</span>
              </button>
              <button (click)="openDeleteConfirmationPopup(user)">
                <span class="material-icons">delete</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Edit User Popup -->
<div *ngIf="showEditUserPopup" class="edit-user-popup">
    <span class="close" (click)="closeEditUserPopup()">&times;</span>
    
    <h2>Edit User</h2>
    <form>
      <label for="username">Name</label>
      <input id="username" type="text" [(ngModel)]="selectedUser.username" name = "username">
  
      <label for="email">Email</label>
      <input id="email" type="email" [(ngModel)]="selectedUser.email" name = "email">
      
      <label for="gender">Gender</label>
      <select id="gender" [(ngModel)]="selectedUser.gender" name = "gender">
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
        <option value="OTHER">Other</option>
      </select>
  
      <button class="add-button " (click)="updateUser()">Save changes</button>
    </form>
  </div>

  <!-- <div class="modal" *ngIf="isTimeTrackingPopupOpen">
    <div class="modal-content">
      <span class="close-btn" (click)="closeTimeTrackingPopup()">&times;</span>
      <h2>Time Tracking Details</h2>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Duration</th>
            <th>Number of Logins Per Day</th>
            <th>Last Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of selectedTimeTracking">
            <td>{{ record.date }}</td>
            <td>{{ formatTime(record.duration) }}</td>
            <td>{{ record.times }}</td>
            <td>{{ record.lastActionFormatTime }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->

 <div class="modal" *ngIf="isTimeTrackingPopupOpen">
    <div class="modal-content">
  <!-- <div class="popup-container" *ngIf="isTimeTrackingPopupOpen"> -->
    <div class="popup-header">
      <h2>Time Tracking Details</h2>
      <span class="close-popup" (click)="closeTimeTrackingPopup()">×</span>
    </div>
    
    <table class="time-tracking-table">
      <thead>
        <tr>
          <th>Date</th>
            <th>Duration</th>
            <th>Number of Logins Per Day</th>
            <!-- <th>Last Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of getPaginatedRecords()">
          <td>{{ record.date }}</td>
          <td>{{ formatTime(record.duration) }}</td>
          <td>{{ record.times }}</td>
          <!-- <td>{{ record.lastActionFormatTime }}</td> -->
        </tr>
      </tbody>
    </table>

    <div class="pagination-controls">
      <button (click)="previousPageTime()" [disabled]="currentTimePage === 1">Previous</button>
      <span>Page {{ currentTimePage }} of {{ totalTimePages }}</span>
      <button (click)="nextPageTime()" [disabled]="currentTimePage === totalTimePages">Next</button>
    </div>
  </div>
  </div>
  
  
  
  <!-- Delete Confirmation Popup -->
  <div *ngIf="showDeleteConfirmationPopup" class="delete-user-popup">
    
    <p>Do you want to delete this user?</p>
    <div class="button-container">
        <button class = "btn delete-btn" (click)="confirmDelete()">Yes</button>
        <button class = "btn cancel-btn" (click)="cancelDelete()">No</button>
    </div>
  </div>
  
<!-- Add User Popup (Modal) -->
<div *ngIf="showAddUserPopup" class="add-user-popup">
    <span class="close" (click)="closeAddUserPopup()">&times;</span>
    
    <h2>Add New User</h2>
    
    <!-- User Role Dropdown -->
    <form>
      <label for="role">User Role</label>
      <select id="role" [(ngModel)]="newUser.role" name="role">
        <option value="" disabled>Select Role</option>
        <option value="student">Student</option>
        <option value="instructor">Instructor</option>
      </select>
    </form>
    
    <!-- Conditionally rendered form fields and submit button -->
    <form *ngIf="newUser.role">
      <!-- Fields for Students -->
      <div *ngIf="newUser.role === 'student'">
        <label for="username">Username</label>
        <input id="username" type="text" [(ngModel)]="newUser.username" name="username" placeholder="Enter username">
        
        <label for="email">Email</label>
        <input id="email" type="email" [(ngModel)]="newUser.email" name="email" placeholder="Enter email">
  
        <label for="dob">Date of Birth</label>
        <input id="dob" type="date" [(ngModel)]="newUser.dob" name="dob">
  
        <label for="gender">Gender</label>
        <select id="gender" [(ngModel)]="newUser.gender" name="gender">
          <option value="" disabled>Select Gender</option>
          <option value="MALE">Male</option>
          <option value="FEMALE">Female</option>
          <option value="OTHER">Other</option>
        </select>

        <label for="password">Password</label>
        <input id="password" type="password" [(ngModel)]="newUser.password" name="password" placeholder="Enter password">
        
       
      </div>
  
      <!-- Fields for Instructors -->
      <div *ngIf="newUser.role === 'instructor'">
        <label for="username">Name</label>
        <input id="username" type="text" [(ngModel)]="newUser.username" name="username" placeholder="Enter full name">
  
        <label for="gender">Gender</label>
        <select id="gender" [(ngModel)]="newUser.gender" name="gender">
          <option value="" disabled>Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
  
        <label for="email">Email</label>
        <input id="email" type="email" [(ngModel)]="newUser.email" name="email" placeholder="Enter email">

        <label for="password">Password</label>
        <input id="password" type="password" [(ngModel)]="newUser.password" name="password" placeholder="Enter password">
        
      </div>
  
      <button class="add-button " (click)="addUser()">Submit</button>
    </form>
  </div>
  
  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
  
  
  