<!--<div class="sideNav-parent overflow-auto">  overflow-auto makes the sidenave scrollable-->
    <!-- <div class="sideNav-parent"> -->
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                
                <li class="itm col-12" >
                    <a routerLink="/home" class="nav-link">
                        <i class="fas fa-home icon-home" style="color: #070707;"></i> <span class="ittxt">Home</span>
                    </a>
                </li>

                <li class="itm col-12">
                    <a routerLink="/test" class="nav-link">
                        <i class="fas fa-user icon-profile" style="color: #070707;"></i><span class="ittxt">Profile</span>
                    </a>
                </li>

                <!-- <li class="nav-item itm col-12 align-self-end">
                    <a routerLink="/login" class="lnk nav-link  px-0 text-truncate">
                        
                        <span class="ittxt" >Login</span>
                    </a>
                </li> -->
    
    
            </ul>
            <!-- <ul class="nav nav-pills=" id="menu22" >
    
                <li class=" itm2 col-12 ">
                    
                    <a href="#submenu22" data-bs-toggle="collapse" class="nav-link px-0  col-12">
                        
    
                        
                        <span class= "ittxt">Test</span>  </a>
                    
                    <ul class="collapse  nav  nav-pills " id="submenu22" data-bs-parent="#menu22">
                        <li class="w-100 itm4  px-0  col-12 " >
                            <a routerLink="/calender-view" class="nav-link  px-0  col-12">
                                <span class="d-none d-sm-inline itsbtxt">Lab Test Calender</span>  </a>
                        </li>
                        <li class="w-100 itm4 " >
                            <a routerLink="/test-customer" class="nav-link  px-0">
                                <span class="d-none d-sm-inline itsbtxt">View My Results</span> </a>
                        </li>
                    </ul>
                </li>
            </ul> -->

    <!-- </div> -->
    
