<!--<div class="sideNav-parent overflow-auto">  overflow-auto makes the sidenave scrollable-->
    <div class="sideNav-parent ">
        <div class="sideNav-child1 " >
    
    
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                
                <li class="nav-item itm col-12  align-self-end" >
                    
                    <a routerLink="/home" class="lnk nav-link  px-0 text-truncate"  >
                        
                        
                        <span class="ittxt ">HOME  PAGE</span>
    
                    </a>
                    
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a routerLink="/test" class="lnk nav-link  px-0 text-truncate">
                        
                        <span class="ittxt">TEST  PAGE</span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a routerLink="/view-tutorials" class="lnk nav-link  px-0 text-truncate">
                        
                        <span class="ittxt" >Tutorials</span>
                    </a>
                </li>
    
    
            </ul>
            <ul class="nav nav-pills=" id="menu22" >
    
                <li class=" itm2 col-12 ">
                    
                    <a href="#submenu22" data-bs-toggle="collapse" class="nav-link px-0  col-12">
                        
    
                        
                        <span class="  ittxt2">TEST</span>  </a>
                    <!--show-->
                    <ul class="collapse  nav  nav-pills " id="submenu22" data-bs-parent="#menu22">
                        <li class="w-100 itm4  px-0  col-12 " >
                            <a routerLink="/calender-view" class="nav-link  px-0  col-12">
                                <span class="d-none d-sm-inline itsbtxt">Lab Test Calender</span>  </a>
                        </li>
                        <li class="w-100 itm4 " >
                            <a routerLink="/test-customer" class="nav-link  px-0">
                                <span class="d-none d-sm-inline itsbtxt">View My Results</span> </a>
                        </li>
                    </ul>
                </li>
            </ul>


    
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu3">
                <li class="nav-item itm col-12 align-self-end">
                    <a routerLink="/view-products-non-log" class="nav-link  px-0 text-truncate">
                        
                        
                        <span class="ittxt">HELP</span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a routerLink="/settings" class="nav-link px-0 text-truncate">
                        
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a routerLink="/forbidden" class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a routerLink="/yellow-page" class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li>
                <li class="nav-item itm col-12 align-self-end">
                    <a class="nav-link  px-0">
                        <i class="fs-4 bi-house"></i>
                        
                        <span class="ittxt"></span>
                    </a>
                </li> 
    
    
    
    
    
            </ul>
    
    
    
            <hr>
        </div>
    
    
    
    
    
        
    
    </div>
    
