
:host ::ng-deep .background {
    background-image: url('/assets/background-img/background01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'MedievalSharp', sans-serif; 
  }
  
  .forgot-password-container {
    width: 500px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.751);
    border-radius: 5px;
  }
  input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    background-color: #4d7f2f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:disabled {
    background-color: #ccc;
  }

  button:hover{
    opacity: 0.6;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }