<head> 
    <link rel="stylesheet" href= 
"https://fonts.googleapis.com/icon?family=Material+Icons" /> 
</head> 

<div class="footer-dark" style="background: #2d3246;">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Wellbeing Managemnt</a></li>
                      <li><a href="#">Activity Tracking</a></li>
                      <li><a href="#">Stress Management</a></li>
                      <li><a href="#">Collaboration With Students</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                  </ul>
              </div>
            
              <div class="col-md-6 item text">
                  <h3>YM</h3>
                  
                  <p>This is a student well being management tracking software. students can do activities keep track about their well being</p>
              </div>
              
              <div class="col item social "><a  href="#"></a><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"></a></div> 
          </div>
          <p class="copyright">Developed for YM - Developed By GreenShade-Sri Lanka(2024)</p>
      </div>
  </footer>
</div>
