<div class="background">
  <div class="container">
  
    <div class="header-container">
      <h1>Tutorial and Lab Records</h1>
      <button class="add-button" (click)="openModal()">✨ Add Tutorial or Lab✨</button>
    </div>
    <div class="records-container" *ngIf="studentData?.module1?.game1?.tasks?.length > 0">
      <div class="record-card" *ngFor="let task of studentData.module1.game1.tasks" (click)="openTaskDetails(task)">
        <div class="record-image">
          <img src="/assets/eye-of-horus-icon.png" alt="Egyptian Theme">
        </div>
        <div class="record-header">
          <h4>{{ task.name }}</h4>
        </div>
        <!-- <div class="record-body">
          <div class="progress-bar">
            <div class="progress" [style.width.%]="task.completePercentage"></div>
          </div>
          <p>{{ task.completePercentage }}%</p>
        </div> -->
        <!-- <div class="record-body">
          <p>{{ task.status }}</p>
        </div> -->

        <div class="status-tag" [ngClass]="getStatusClass(task.status)">
          {{ task.status }}
        </div>
        
      </div>
    </div>
    <div class = "no-tutorials" *ngIf="!studentData?.module1?.game1?.tasks?.length">
      No Tutorials Added Yet.
    </div>

<!-- Achievement Popup -->
<div *ngIf="isAchievementPopupOpen" class="modal">
  <div class="achievement-wrapper">

    <!-- Sage Image Container (Outside the Popup) -->
    <div class="sage-image-container">
      <img src="/assets/narrator.png" alt="Sage" class="sage-image">
    </div>

    <!-- Achievement Popup -->
    <div class="achievement-popup">
      <span class="close-btn" (click)="isAchievementPopupOpen = false">&times;</span>
      <h2>Congratulations!</h2>
      <p>You've unlocked the "Eye of Horus"</p>

      <!-- Badge Image with animation class -->
      <!-- <div class="badge-container"> -->
        <!-- Padlock GIF -->
        <img src="/assets/padlock.gif" alt="Unlocking Padlock" [class.padlock-visible]="isPadlockVisible" class="padlock-gif">

        <!-- Badge Image -->
        <img *ngIf="showBadge" src="/assets/badges/badge01.png" alt="Achievement Badge" class="badge-image unlocking-animation">
      <!-- </div> -->

      <button class="btn share-btn" (click)="shareAchievement()">Share</button>
    </div>
  </div>
</div>

    <!-- Task Details Modal -->
    <div *ngIf="isTaskModalOpen" class="modal">
      <div class="modal-background">
      <div class="modal-content-view">
        <span class="close-btn" (click)="closeTaskModal()">&times;</span>
        <h2>{{ selectedTask.name }}</h2>
        
        <form (ngSubmit)="onUpdate()">
          <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" id="taskDate" [(ngModel)]="selectedTask.date" name="date" [disabled]="false" [max]="getTodayDate()" required />
          </div>

          <!-- <div class="form-group">
            <label for="taskProgress">Progress:</label>
            <select id="taskProgress" [(ngModel)]="selectedTask.completePercentage" name="completePercentage" [disabled]="!isProgressEditable">
              <option *ngFor="let option of progressOptions" [value]="option">{{ option }}%</option>
            </select>
          </div> -->
          <div class="form-group">
            <label for="taskStatus">Status:</label>
            <select id="taskStatus" name="taskStatus" [(ngModel)]="selectedTask.status" [disabled]="!isStatusEditable" required>
              <option value="Started">Started</option>
              <option value="In Progress">In Progress</option>
              <option value="Completed">Completed</option>
            </select>
          </div>

          <div class="form-group">
            <label for="taskDescription">Description:</label>
            <textarea id="taskDescription" [(ngModel)]="selectedTask.description" name="description" [disabled]="false"></textarea>
          </div>

          

          <div class="button-container">
            <button type="submit" class="btn save-btn" [disabled]="!isSaveEnabled">Save Changes</button>
            <button type="button" class="btn cancel-btn" (click)="closeTaskModal()">Cancel</button>
            <button class="btn delete-btn" *ngIf="selectedTask.status === 'Started' || selectedTask.status === 'In Progress'" (click)="deleteTask(selectedTask)">Delete</button>

          </div>
        </form>
      </div>
      </div>
    </div>

    <!-- Add Tutorial Modal -->

    <div *ngIf="isModalOpen" class="modal">
      <div class="modal-content-add">
        <div class="tutorial-box">
        <span class="close-btn" (click)="closeModal()">&times;</span>

        <h2>Log New Tutorial</h2>
      <form [formGroup]="tutorialForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="tutorialName">Tutorial Name:</label>
              <input
                  type="text"
                  id="tutorialName"
                  formControlName="tutorialName"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['tutorialName'].errors }"
              />
              <div *ngIf="submitted && f['tutorialName'].errors" class="invalid-feedback">
                  <div *ngIf="f['tutorialName'].errors['required']">Tutorial Name is required</div>
              </div>
          </div>

          <div class="form-group">
              <label for="date">Date:</label>
              <input
                  type="date"
                  id="date"
                  formControlName="date"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['date'].errors }"
                  [max]="getTodayDate()" 
              /> <!-- Restrict future dates -->
              <div *ngIf="submitted && f['date'].errors" class="invalid-feedback">
                  <div *ngIf="f['date'].errors['required']">Date is required</div>
              </div>
          </div>

          <!-- <div class="form-group input-group">
            <label for="progress">Progress</label>
            <select
              id = "progress"
              formControlName="progress"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['progress'].errors }"
            >
              <option value="" disabled>Select progress</option>
              <option *ngFor="let option of progressOptions" [value]="option">{{ option }}%</option>
            </select>
            <div *ngIf="submitted && f['progress'].errors" class="invalid-feedback">
              <div *ngIf="f['progress'].errors['required']">Progress is required</div>
            </div>
          </div> -->
          <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" formControlName="status" class="form-control">
              <option value="" disabled>Select status</option>
              <option value="Started">Started</option>
              <option value="In Progress">In Progress</option>
              <option value="Completed">Completed</option>
            </select>
          </div>

          <div class="form-group">
              <label for="description">Description:</label>
              <textarea
                  id="description"
                  formControlName="description"
                  rows="4"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
              ></textarea>
              <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                  <div *ngIf="f['description'].errors['required']">Description is required</div>
              </div>
          </div>

          <div class="form-group">
              <button type="submit" class="btn-submit">Submit</button>
          </div>
      </form>
    </div>

        <!-- <app-tutorial-submission (submitEvent)="closeModal()"></app-tutorial-submission> -->
      </div>
    </div>
  </div>
</div>
