<div class="admin-container">
  <!-- Sidebar -->
  <nav class="sidebar">
    <!-- Game Logo at the Top -->
    <div class="logo">
      <h2 class="logo-link" routerLink="/home">YoungMind</h2>
    </div>

    <ul>
      <li>
        <a routerLink="/admin" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          <span class="material-icons">dashboard</span> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/admin/users" routerLinkActive="active-link">
          <span class="material-icons">people</span> Users
        </a>
      </li>
      <li>
        <a routerLink="/admin/games" routerLinkActive="active-link">
          <span class="material-icons">sports_esports</span> Games
        </a>
      </li>
      <li>
        <a routerLink="/admin/user-activity" routerLinkActive="active-link">
          <span class="material-icons">timeline</span> User Activity
        </a>
      </li>
    </ul>

    <!-- Logout Button at the Bottom -->
    <div class="logout-container">
      <button (click)="logout()" class="logout-button">
        <span class="material-icons">logout</span> Logout
      </button>
    </div>
  </nav>

  <!-- Main Content Area -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
