
.btn-d{
  margin-top:0.5vh;
  font-weight: bold;
}

.uN {
  color: yellow;
  font-size: 20px;
  padding-top:10px;
  text-decoration: none; 
  font-weight: bold;
}

.navbar {
    background-color: midnightblue;
    
    .navbar-brand {
      color: white;
      font-weight: bold;
      font-size: 20px;
    }


  
    .nav-link {
      color: white;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        background-color: royalblue;
      }
    }


  
    .navbar-toggler {
      border-color: rgba(255, 255, 255, 0.1);
      margin-right: 2px !important;
      background-color: midnightblue; /* Match background to navbar */
      color: white;
      border: none; /* Remove border if not needed */
      
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        background-size: 24px 24px; /* Adjust size as needed */
        background-repeat: no-repeat;
        background-position: center;
      }
  
      &:focus,
      &:active {
        margin-right: 2px !important;
        outline: 2px solid white !important; /* Ensure specificity and use !important */
      }
    }
  
    .nav-item:hover {
      background-color: royalblue;
    }
  }