<div class="background">

  <div class="sidenav">
    <div class="badge-header">
      <h4>My Badges</h4>
    </div>
    <div class="badge-list">
      <div class="badge" 
            [ngClass]="{ 
              'achieved-badge': hasEarnedBadge(gameMargins?.margin1), 
              'not-earned-badge': !hasEarnedBadge(gameMargins?.margin1) 
            }"
          (mouseenter)="showTooltip = gameMargins ? (hasEarnedBadge(gameMargins.margin1) ? 'Badge unlocked' : (gameMargins.margin1 - completedTasks) + ' more questions needed') : ''"
          (mouseleave)="showTooltip = ''">
          <img src="/assets/badges/badge02_a.png" alt="Ankh's Chronicle">
           <!-- Badge Title -->
            <p class="badge-title">Ankh's Chronicle</p>
  
            <!-- Subtitle -->
            <p class="badge-subtitle">Beginner</p>
          <div class="tooltip" *ngIf="showTooltip">{{ showTooltip }}</div>
      </div>
      
      <div class="badge" 
        [ngClass]="{ 
          'achieved-badge': hasEarnedBadge(gameMargins?.margin2), 
          'not-earned-badge': !hasEarnedBadge(gameMargins?.margin2) 
        }"
        (mouseenter)="showTooltip = gameMargins ? (hasEarnedBadge(gameMargins.margin2) ? 'Badge unlocked' : (gameMargins.margin2 - completedTasks) + ' more questions needed') : ''"
        (mouseleave)="showTooltip = ''">
        <img src="/assets/badges/badge02_b.png" alt="Ankh's Chronicle">
        <p class="badge-title">Ankh's Chronicle</p>
        <p class="badge-subtitle">Master</p>        
        <div class="tooltip" *ngIf="showTooltip">{{ showTooltip }}</div>
     </div>

     <div class="badge" 
            [ngClass]="{ 
              'achieved-badge': hasEarnedLikesBadge(gameMargins?.LikesMargin), 
              'not-earned-badge': !hasEarnedLikesBadge(gameMargins?.LikesMargin) 
            }"
          (mouseenter)="showTooltip = gameMargins ? (hasEarnedLikesBadge(gameMargins.LikesMargin) ? 'Badge unlocked' : (gameMargins.LikesMargin - TotalLikes) + ' more likes needed') : ''"
          (mouseleave)="showTooltip = ''">
          <img src="/assets/badges/badge02_c.png" alt="Ankh's Chronicle">
          <p class="badge-title">Ankh's Chronicle</p>
        <p class="badge-subtitle">Rising Star</p> 
          <div class="tooltip" *ngIf="showTooltip">{{ showTooltip }}</div>
      </div>
     


    </div>
  </div>
  
    <div class="container">
        <h1 class="game-title">Mind Mapping Mastery</h1>
        <button class="add-button" [disabled]="studentData?.mindMaps?.length >= 10" (click)="openMindmapModal()">Add New Mindmap</button>
  
       
           <!-- Mind map grid layout -->
           <div class="mind-map-grid" *ngIf="studentData?.mindMaps?.length > 0">
            <div *ngFor="let mindmap of paginatedMindmaps" class="mind-map-card" (click)="openMindmapDetails(mindmap)">

              <img *ngIf="mindmap.attachments[0]"
              [src]="'data:' + mindmap.attachments[0].contentType + ';base64,' + mindmap.attachments[0].data" 
              alt="{{ mindmap.attachments[0].filename }}" 
              class="mind-map-image"
            />
              <!-- <img [src]="mindmap.image ? mindmap.image : '/assets/placeholder-mindmap.jpg'" alt="{{ mindmap.title }} Image" class="mind-map-image" /> -->
              <!-- <h5>{{ mindmap.title | slice: 0:20}}</h5> -->
              <h5>{{ mindmap.title }}</h5>
        
              <div class="card-footer">
                <!-- Shared Tag -->
                <div class="shared-tag" *ngIf="mindmap.sharedStatus === 'SHARED'">Shared</div>
                <div class="not-shared-tag" *ngIf="mindmap.sharedStatus === 'NOT_SHARED' || mindmap.sharedStatus === 'HIDE'">Not Shared</div>
          
                <!-- Likes -->
                <div class="likes" *ngIf="mindmap.sharedStatus === 'SHARED'">
                  <i class="fas fa-heart heart-like-icon"></i>
                  <span class="like-count">{{ mindmap.likesCount }}</span>
                </div>
              </div>

            </div>
          </div>  
  
      <div class="no-mindmaps" *ngIf="!studentData?.mindMaps?.length">
        No Mindmaps Added Yet.
      </div>
  
      <!-- Mindmap Details Modal -->
      <div *ngIf="isMindmapModalOpen" class="modal">
        <div class="modal-background">
          <div class="modal-content">
            <span class="close-icon" (click)="closeMindmapModal()">&times;</span>

            
            <h2>{{ selectedMindmap.title }}</h2>

            <!-- Display Mindmap Image in the Modal -->
            <div *ngFor="let file of uploadedFiles; let i = index" class="image-preview">
                <img [src]="filePreviews[0]" alt="Preview" class="mind-map-image" (click)="viewFile(file) ; $event.stopPropagation()"/>
                   

                <!-- Camera icon for changing the image -->
                <span class="camera-icon" (click)="triggerImageUpload()">
                    <i class="fa fa-camera"></i> <!-- Font Awesome camera icon -->
                </span>
              
                <!-- Hidden input for file selection -->
                <input type="file" id="imageUpload" style="display: none;" (change)="onFileSelected($event)">
                <!-- <button type="button" class="btn btn-primary" (click)="viewFile(file) ; $event.stopPropagation()">View</button> -->

              </div>   

            <form (ngSubmit)="onUpdateMindmap()">
  <!-- <label for="date">Date:</label>
                <input type="date" id="questionDate" [(ngModel)]="selectedQuestion.date" name="date" [max]="getTodayDate()" required />
   -->
                <label for="description">Description:</label>
                <textarea id="description" [(ngModel)]="selectedMindmap.description" name="description" rows="4"></textarea>
  
              <div class="button-container">
                <button class="btn save-btn">Save Changes</button>
                <button class="btn share-popup" *ngIf="selectedMindmap.sharedStatus === 'NOT_SHARED'" (click)="onShareMindmap(selectedMindmap)">Share</button>
                <button class="btn delete-btn" (click)="openDeleteConfirmationPopup(selectedMindmap); $event.stopPropagation()">
                  Delete
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

       <!-- Delete Confirmation Popup -->
  <div *ngIf="showDeleteConfirmationPopup" class="delete-user-popup">
    
    <p>Do you want to delete this journal record?</p>
    <div class="button-container">
        <button class = "delete-btn" (click)="deleteMindmap(selectedMindmap)">Yes</button>
        <button class = "cancel-btn" (click)="cancelDelete()">No</button>
    </div>
  </div>
  
      <!-- Add Mindmap Modal -->
      <div *ngIf="isAddMindmapModalOpen" class="modal">
        <div class="modal-background">
          <div class="modal-content">
            <span class="close" (click)="closeAddMindmapModal()">&times;</span>

            <h2>Add New Mindmap</h2>
            <form [formGroup]="mindmapForm" (ngSubmit)="onSubmitMindmap()">

              <label for="title">Title:</label>
              <input type="text" id="title" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
              <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                <div *ngIf="f['title'].errors['required']">Title is required</div>
                <div *ngIf="f['title'].errors['maxlength']">Title cannot exceed 30 characters</div>
              </div>
  
                <!-- <label for="description">Description:</label>
                <textarea id="description" formControlName="description" rows="4" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"></textarea>
                <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                  <div *ngIf="f['description'].errors['required']">Description is required</div>
                </div> -->

                 <label for="description">Description:</label>
                <textarea id="description" formControlName="description" rows="4" class="form-control"></textarea>
                

                <label for="image">Upload Mindmap Image:</label>
                <input type="file" id="image" (change)="onFileSelected($event)" [ngClass]="{ 'is-invalid': submitted && f['image'].errors }">
                <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
                  <div *ngIf="f['image'].errors?.['required']">Mindmap Image is required</div>
                  <div *ngIf="fileSizeError">File size exceeds the 1MB limit.</div>
                </div>

                <div class="file-preview-container">
                  <div *ngFor="let file of uploadedFiles; let i = index" class="file-preview">
                      <div>
                          <img style="width: 120px;height: 120px;" [src]="filePreviews[0]" alt="Preview" /> <!--*ngIf="isImage(file)"-->
                      </div>
                  </div>
              </div>
              <!-- </div> -->
  
              <!-- <div class="form-group"> -->
                <button type="submit" class="btn-submit">Submit</button>
              <!-- </div> -->
            </form>
          </div>
        </div>
      </div>

      <!-- Achievement Popup -->
<div *ngIf="isAchievementPopupOpen" class="modal">
  <div class="achievement-wrapper">

    <!-- Sage Image Container (Outside the Popup) -->
    <div class="sage-image-container">
      <img src="/assets/narrator.png" alt="Sage" class="sage-image">
    </div>

        <!-- Achievement Popup -->
        <div class="achievement-popup">
          <span class="close-btn" (click)="isAchievementPopupOpen = false">&times;</span>
          <h2>Congratulations!</h2>
          <p>You've unlocked a badge</p>

          <!-- Badge Image with animation class -->
            <img src="/assets/padlock.gif" alt="Unlocking Padlock" [class.padlock-visible]="isPadlockVisible" class="padlock-gif">

            <!-- Badge Image -->
            <img *ngIf="showBadge01" src="/assets/badges/badge02_a.png" alt="Achievement Badge" class="badge-image unlocking-animation">
            <img *ngIf="showBadge02" src="/assets/badges/badge02_b.png" alt="Achievement Badge" class="badge-image unlocking-animation">

            <img *ngIf="showBadgeLikes" src="/assets/badges/likesBadge.png" alt="Likes Badge" class="badge-image unlocking-animation">

          <button class="btn share-btn" (click)="shareAchievement()">Share</button>
        </div>
      </div>
    </div>

         <!-- Popup Modal for Successful Share -->
         <div *ngIf="isShareModalOpen" class="modal">
          <div class="modal-background">
            <div class="modal-content-share">
              <span class="close" (click)="closeShareModal()">&times;</span>
  
  
              <h2>Great!</h2>
              <p>Your mindmap has been shared successfully.</p>
  
               <!-- Success tick icon -->
               <div class="success-tick">
                <i class="fa fa-check-circle"></i> <!-- Font Awesome tick icon -->
              </div>
              
              <button class="btn view-shared-btn" (click)="viewSharedMindmaps()">View Shared Mindmaps</button>
            </div>
          </div>
        </div>

                  <!-- Popup Modal for Successful Share of badges -->
                  <div *ngIf="isShareModalBadgeOpen" class="modal">
                    <div class="modal-background">
                      <div class="modal-content-share">
                        <span class="close-share" (click)="closeShareBadgeModal()">&times;</span>
            
            
                        <h2>Great!</h2>
                        <p>Your achievement has been shared successfully.</p>
            
                         <!-- Success tick icon -->
                         <div class="success-tick">
                          <i class="fa fa-check-circle"></i> <!-- Font Awesome tick icon -->
                        </div>
                        
                        <button class="btn view-shared-btn" (click)="viewSharedBadge()">Go to Notifications</button>
                      </div>
                    </div>
                  </div>

        <div class="pagination-controls">
          <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
          <span>Page {{ currentPage }} of {{ totalPages }}</span>
          <!-- <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button> -->
          <button (click)="nextPage()" [disabled]="currentPage >= totalPages || totalPages === 1">Next</button>
    
      </div>
    </div>

   
  </div>
  
