<div class="background">
    <div class="home-container">
      <div class="game-scroll" *ngFor="let game of games; let i = index">
        <div class="white-block" [ngClass]="{ 'special-block': game.id === 4 || game.id === 5 }">
          <div class="game-details" (click)="navigateToGame(game)">
            <h3 class="game-title">{{ game.name }}</h3>
            <h4 class="game-subtitle">{{ game.subtitle }}</h4>  
            <img class="hieroglyph-image" [src]="game.hieroglyphImage" alt="Hieroglyph">
          </div>
        </div>
      </div>
    </div>
  
  
    <!-- Narrator Image and Mood Selector -->
  <div id="narrator-container" class="narrator-container">
    <img id="narrator" class="narrator-image" src="/assets/narrator.png" alt="Egyptian God">
    <div class="dialog-box">
      <p>How are you feeling today?</p>
      <div class="mood-options">
        <label>
          <input type="radio" name="mood" value="angry">
          <img src="assets/moods/angry.jpg" alt="Angry">
        </label>
        <label>
          <input type="radio" name="mood" value="sad">
          <img src="assets/moods/sad.jpg" alt="Sad">
        </label>
        <label>
          <input type="radio" name="mood" value="neutral">
          <img src="assets/moods/neutral.jpg" alt="Neutral">
        </label>
        <label>
          <input type="radio" name="mood" value="happy">
          <img src="assets/moods/happy.jpg" alt="Happy">
        </label>
        <label>
          <input type="radio" name="mood" value="excited">
          <img src="assets/moods/excited.jpg" alt="Excited">
        </label>
      </div>
      <button id="submit-mood">Submit</button>
      <button id="later">Later</button>
    </div>
  </div>
  
  </div>
  
  