
/*.p1dv1{

    margin-top:2%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}*/

.p1dv1{
    /* background-image: url('/assets/map.png'); */
    background-color: rgb(241, 217, 191) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh; 
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  } 

p {
    text-indent: auto;
    text-align: justify;
    letter-spacing: 1px;
    font-size:18px;
}

.hmPgTtl{
    font-size:27px;
    font-weight: bold;
}

.imgcus1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto; 
    display: flex;
    /* width: 100%;
    height:100%; */
} 