:host ::ng-deep .background {
    background-image: url('/assets/background-img/background06.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .login-signup-box {
    padding: 20px; /* Increased padding for a larger box */
    width: 800px; 
    max-width: 100%; 
    box-sizing: border-box;
    font-family: 'MedievalSharp', sans-serif;
    margin-top: 180px;
  }

 .btn {
    display: block; /* Make the button a block-level element */
    width: 40%;
    margin: 10px auto;
    padding: 10px;
    background-color: #5b5248; /* Dark button color */
    color: #ffffff; /* Dark text */
    border: 2px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem; /* Font size for buttons */
    text-align: center;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    font-family: 'MedievalSharp', sans-serif; 
    align-items: center;
    justify-content: center;
  }

  .btn:hover{
    background-color: #e4af0e;
  }

  /* Media queries for responsiveness */
@media (max-width: 768px) {
  .background {
    background-image: url('/assets/mobile-background.png');
  }

  .btn{
    width: 60%;
  }

  .login-signup-box{
    margin-top: -100px;
  }
}