
<div class="background">
   
    <div class = "signup-box">

        <h1>Get Started!</h1>
    <!-- <div class="col-12 mt-5 container"> -->
        <!-- add reactive form module in app.module.ts-->
        <form [formGroup]="form" >

   

              <div class="form-group input-group">
                <label>Username</label>
                <input
                  type="text"
                  formControlName="username"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
                />
                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                  <div *ngIf="f['username'].errors['required']">Username is required</div>
                  <div *ngIf="f['username'].errors['minlength']">
                    Username must be at least 6 characters
                  </div>
                  <div *ngIf="f['username'].errors['maxlength']">
                    Username must not exceed 20 characters
                  </div>
                </div>
              </div>

            <div class="form-group input-group">
                <label>Email</label>
                <input
                  type="text"
                  formControlName="email"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                  <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                </div>
              </div>

            <div class="inline-group">

                <div class="form-group input-group">
                    <label>Date of Birth</label>
                    <input
                      type="date"
                      formControlName="dob"
                      (change)="onDateChange($event)"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }"
                    />
                    <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
                      <!-- <div *ngIf="f['dob'].invalid" class="alert alert-danger"> -->
                      <div *ngIf="f['dob'].hasError('invalidDate')">Please enter a past date</div> 
                      <div *ngIf="f['dob'].errors['required']">Date of Birth is required</div>
                    <!-- <div *ngIf="f['dob'].errors['dob']">DOB is invalid</div> -->
                    <!-- </div> -->
                  </div>
             </div> 

            <div class="form-group input-group">
                <label>Gender</label>
                <select
                  formControlName="gender"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }">
                  <option value="MALE">Male</option>
                  <option value="FEMALE">Female</option>
                  <option value="OTHER">Other</option>
                  <option value="NOT PREFERRED">Prefer not to say</option>
                </select>  

                <div *ngIf="submitted && f['gender'].errors" class="invalid-feedback">
                  <div *ngIf="f['gender'].errors['required']">Gender is required</div>
                  <!-- <div *ngIf="f['gender'].errors['gender']">Email is invalid</div> -->
                </div>
              </div>

          </div>

          <div class="inline-group">
          <div class="form-group input-group">
            <label>Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']">Password is required</div>
              <div *ngIf="f['password'].errors['minlength']">
                Password must be at least 6 characters
              </div>
              <div *ngIf="f['password'].errors['maxlength']">
                Username must not exceed 40 characters
              </div>
            </div>
          </div>
          

          <div class="form-group input-group">
            <label>Confirm Password</label>
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
            />
            <div
              *ngIf="submitted && f['confirmPassword'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['confirmPassword'].errors['required']">
                Confirm Password is required
              </div>
              <div *ngIf="f['confirmPassword'].errors['matching']">
                Confirm Password does not match
              </div>
            </div>
          </div>
        </div>

          <div class="form-group input-group">
            <button type="submit" class="btn btn-submit" (click)="next()"> Next</button> 
            <!-- <input type="submit" value="Next" [disabled]="!form.valid" class="btn btn-submit" (click)="next()">  -->
          </div>

        
        </form>
</div>
</div>

