<div class="background">
    <div class="container">

        <h1 class="game-title">Question Mastery</h1>
        <button class="add-button" (click)="openQuestionModal()">✨ Add New Question</button>
        
        <div class="question-grid">
            <div *ngFor="let question of questions" class="question-card" (click)="openQuestionDetails(question)">
                <h5><b>{{ question.lesson }}</b></h5>
                <p> {{ question.question }}</p>
                <!-- <p><strong>Date:</strong> {{ question.date }}</p> -->
                <!-- <p><strong>Answer:</strong> {{ question.answer }}</p>
                <img *ngIf="question.imageUrl" [src]="question.imageUrl" alt="Question Image" /> -->
            </div>
        </div>

        <div class="no-mindmaps" *ngIf="questions.length === 0">
            No Questions Added Yet.
          </div>
  


             <!-- Question Details Modal -->
      <div *ngIf="isQuestionOpen" class="modal">
        <div class="modal-background">
          <div class="modal-content">
            <span class="close" (click)="closeQuestionModal()">&times;</span>
            <h2>{{ selectedQuestion.lesson }}</h2>
 

            <form (ngSubmit)="onUpdateQuestion()">
                <label for="question">Question:</label>
                <input type="text" id="question" [(ngModel)]="selectedQuestion.question" name="question" required />
  
                
                <label for="date">Date:</label>
                <input type="date" id="questionDate" [(ngModel)]="selectedQuestion.date" name="date" [max]="getTodayDate()" required />
  
                <label for="description">Answer:</label>
                <textarea id="description" [(ngModel)]="selectedQuestion.answer" name="description" rows="4"></textarea>
                
            <!-- Display Question Image in the Modal only if image exists -->
            <div class="image-preview" *ngIf="selectedQuestion.image">
              <img 
                [src]="selectedQuestion.image" 
                class="question-image"
              >
              
              <!-- Camera icon for changing the image -->
              <span class="camera-icon" (click)="triggerImageUpload()">
                <i class="fa fa-camera"></i> <!-- Font Awesome camera icon -->
              </span>
            
              <!-- Hidden input for file selection -->
              <input type="file" id="imageUpload" style="display: none;" (change)="onImageSelected($event)">
            </div>

            
                
              <div class="button-container">
                <button class="btn save-btn" [disabled]="!isSaveEnabled">Save Changes</button>
                <button class="btn delete-btn" (click)="deleteQuestion(selectedQuestion)">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>

       <!-- Add Question Modal -->
       <div *ngIf="isAddQuestionModalOpen" class="modal">
        <div class="modal-background">
          <div class="modal-content">

            <span class="close" (click)="closeAddQuestionModal()">&times;</span>

            <h2>Add New Question</h2>                

            <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
                <!-- <div>
                <label for="lesson">Lesson:</label>
                <input id="lesson" formControlName="lesson" type="text" />
                </div> -->

                <label for="lesson">Lesson:</label>
                <input type="text" id="lesson" formControlName="lesson" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lesson'].errors }" />
                <div *ngIf="submitted && f['lesson'].errors" class="invalid-feedback">
                  <div *ngIf="f['lesson'].errors['required']">Lesson is required</div>
                </div>
            
                <!-- <div>
                <label for="question">Question:</label>
                <textarea id="question" formControlName="question"></textarea>
                </div> -->

                <label for="question">Question:</label>
                <input type="text" id="question" formControlName="question" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['question'].errors }" />
                <div *ngIf="submitted && f['question'].errors" class="invalid-feedback">
                  <div *ngIf="f['question'].errors['required']">Question is required</div>
                </div>
            
                <label for="date">Date:</label>
                <input type="date" id="date" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['date'].errors }" [max]="getTodayDate()" />
                <div *ngIf="submitted && f['date'].errors" class="invalid-feedback">
                  <div *ngIf="f['date'].errors['required']">Date is required</div>
                </div>
            
                <!-- <div>
                <label for="answer">Answer:</label>
                <textarea id="answer" formControlName="answer"></textarea>
                </div>
             -->


                <label for="answer">Answer:</label>
                <!-- <textarea id="answer" formControlName="answer" rows="4" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['answer'].errors }"></textarea> -->
                <quill-editor
                id="answer"
                formControlName="answer"
                [style]="{ height: '200px' }"
                [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
              ></quill-editor>
                
                <div *ngIf="submitted && f['answer'].errors" class="invalid-feedback">
                  <div *ngIf="f['answer'].errors['required']">Answer is required</div>
                </div>

                <label for="image">Upload Image (optional):</label>
                <input type="file" id="image" (change)="onFileChange($event)">
                <!-- <div>
                <label for="image">Upload Image (optional):</label>
                <input id="image" type="file" (change)="onFileChange($event)" />
                </div> -->
            
                <button type="submit" class="btn-submit">Submit</button>
            </form>
          </div>
        </div>
    </div>

</div>
</div>