<div class="background">
    <div class="container">

        <h1 class="game-title">Question Mastery</h1>
        <button class="add-button" (click)="openModal()">✨ Add New Question</button>
        
        <!-- <div class="question-grid"> -->
          <div class="question-grid"*ngIf="studentData?.data?.QandA?.length > 0">
            <div *ngFor="let question of studentData.data.QandA" class="question-card" (click)="openQuestionDetails(question)">
                <h5><b>{{ question.lessonTitle }}</b></h5>
                <p> {{ question.question }}</p>
                <!-- <p><strong>Date:</strong> {{ question.date }}</p> -->
                <!-- <p><strong>Answer:</strong> {{ question.answer }}</p>
                <img *ngIf="question.imageUrl" [src]="question.imageUrl" alt="Question Image" /> -->
            </div>
        </div>
        <!-- </div> -->
        <div class="no-questions" *ngIf="!studentData?.data?.QandA?.length">
            No Questions Added Yet.
        </div>
  


             <!-- Question Details Modal -->
      <div *ngIf="isQuestionOpen" class="modal">
        <div class="modal-background">
          <div class="modal-content">
            <span class="close" (click)="closeQuestionModal()">&times;</span>
            <h2>{{ selectedQuestion.lessonTitle }}</h2>
 

            <form (ngSubmit)="onUpdateQuestion()">
                <label for="question">Question:</label>
                <input type="text" id="question" [(ngModel)]="selectedQuestion.question" name="question" required />
  
                
                <!-- <label for="date">Date:</label>
                <input type="date" id="questionDate" [(ngModel)]="selectedQuestion.date" name="date" [max]="getTodayDate()" required />
   -->
                <label for="answer">Answer:</label>
                <!-- <textarea id="answer" [(ngModel)]="selectedQuestion.answer" name="description" rows="4"></textarea> -->
                <angular-editor 
                  [(ngModel)]="selectedQuestion.answer" 
                  name="answer" 
                  [config]="editorConfig"
                  class="angular-editor-textarea">
                </angular-editor>
                    <!-- Display Question Image in the Modal only if image exists -->
            <!-- <div class="image-preview" *ngIf="selectedQuestion.image">
              <img 
                [src]="selectedQuestion.image" 
                class="question-image"
              >
              
              <span class="camera-icon" (click)="triggerImageUpload()">
                <i class="fa fa-camera"></i> 
              </span>

              <input type="file" id="imageUpload" style="display: none;" (change)="onImageSelected($event)">
            </div> -->

            
                
              <div class="button-container">
                <button class="btn save-btn" [disabled]="!hasAnswerChanged()">Save Changes</button>
                <button class="btn share-btn" *ngIf="selectedQuestion.sharedStatus === 'NOT_SHARED'" (click)="onShareQuestion(selectedQuestion)">Share</button>
                <button class="btn delete-btn" (click)="deleteQuestion(selectedQuestion)">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Popup Modal for Successful Share -->
      <div *ngIf="isShareModalOpen" class="modal">
        <!-- <div class="modal-background"> -->
          <div class="modal-content-share">
            <span class="close" (click)="closeShareModal()">&times;</span>


            <h2>Great!</h2>
            <p>Your question has been shared successfully.</p>

             <!-- Success tick icon -->
             <div class="success-tick">
              <i class="fa fa-check-circle"></i> <!-- Font Awesome tick icon -->
            </div>
            
            <button class="btn view-shared-btn" (click)="viewSharedQuestions()">View Shared Questions</button>
          </div>
        <!-- </div> -->
      </div>


       <!-- Add Question Modal -->
       <div *ngIf="isAddQuestionModalOpen" class="modal">
        <div class="modal-background">
          <div class="modal-content">

            <span class="close" (click)="closeAddQuestionModal()">&times;</span>

            <h2>Add New Question</h2>                

            <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
                <!-- <div>
                <label for="lesson">Lesson:</label>
                <input id="lesson" formControlName="lesson" type="text" />
                </div> -->


                <!-- <div class="form-row">
                  <div class="form-group">

                  <label for="lesson">Lesson Title:</label>
                  <input type="text" id="lesson" formControlName="lesson" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lesson'].errors }" />
                  <div *ngIf="submitted && f['lesson'].errors" class="invalid-feedback">
                    <div *ngIf="f['lesson'].errors['required']">Lesson is required</div>
                  </div>
                  </div>
           
                  <div class="form-group">

                  <label for="date">Date:</label>
                  <input type="date" id="date" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['date'].errors }" [max]="getTodayDate()" />
                  <div *ngIf="submitted && f['date'].errors" class="invalid-feedback">
                    <div *ngIf="f['date'].errors['required']">Date is required</div>
                  </div>
                  </div>
              </div> -->

                <label for="lesson">Lesson:</label>
                <input type="text" id="lesson" formControlName="lesson" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lesson'].errors }" />
                <div *ngIf="submitted && f['lesson'].errors" class="invalid-feedback">
                  <div *ngIf="f['lesson'].errors['required']">Lesson is required</div>
                </div>
            
          
                
                <label for="question">Question:</label>
                <input type="text" id="question" formControlName="question" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['question'].errors }" />
                <div *ngIf="submitted && f['question'].errors" class="invalid-feedback">
                  <div *ngIf="f['question'].errors['required']">Question is required</div>
                </div>
            
                <!-- <label for="date">Date:</label>
                <input type="date" id="date" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['date'].errors }" [max]="getTodayDate()" />
                <div *ngIf="submitted && f['date'].errors" class="invalid-feedback">
                  <div *ngIf="f['date'].errors['required']">Date is required</div>
                </div> -->
            
                <!-- <div>
                <label for="answer">Answer:</label>
                <textarea id="answer" formControlName="answer"></textarea>
                </div>
             -->


                <label for="answer">Answer:</label>
                <!-- <textarea id="answer" formControlName="answer" rows="4" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['answer'].errors }"></textarea> -->
                <angular-editor formControlName="answer" class="form-control"  [(ngModel)]="editorContent" [config]="editorConfig" [ngClass]="{ 'is-invalid': submitted && f['answer'].errors }"></angular-editor>

                
                <div *ngIf="submitted && f['answer'].errors" class="invalid-feedback">
                  <div *ngIf="f['answer'].errors['required']">Answer is required</div>
                </div>

                <!-- <label for="image">Upload Image (optional):</label>
                <input type="file" id="image" (change)="onFileChange($event)"> -->
                <!-- <div>
                <label for="image">Upload Image (optional):</label>
                <input id="image" type="file" (change)="onFileChange($event)" />
                </div> -->
            
                <button type="submit" class="btn-submit">Submit</button>
            </form>
          </div>
        </div>
    </div>

</div>
</div>