<div class="background">
    <div class="login-box">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate>
  
        <div class="input-group">
          <label for="username">Username:</label>
          <input
            type="text"
            ngModel
            name="username"
            id="username"
            required
            #username="ngModel"
          />
          <!-- Username Error Message -->
          <div *ngIf="username.invalid && username.touched" class="error-message">
            <small *ngIf="username.errors?.['required']">Username is required.</small>
          </div>
        </div>
  
        <div class="input-group">
          <label for="password">Password:</label>
          <input
          [type]="isPasswordVisible ? 'text' : 'password'"
            ngModel
            name="pw"
            id="pw"
            required
            #password="ngModel"
          />
          <i
      class="eye-icon fas"
      [class.fa-eye]="!isPasswordVisible"
      [class.fa-eye-slash]="isPasswordVisible"
      (click)="togglePasswordVisibility('password')"
    ></i>
          <!-- Password Error Message -->
          <div *ngIf="password.invalid && password.touched" class="error-message">
            <small *ngIf="password.errors?.['required']">Password is required.</small>
          </div>
        </div>
  
        <div *ngIf="errorMessage" class="error-message center-error">
            <p>{{ errorMessage }}</p>
          </div>
  
          
        <div>
          <input
            type="submit"
            value="Login"
            class="btn btn-submit"
            [disabled]="loginForm.invalid"
          />
        </div>

        <div class="signup-link">
          <p>Not a user yet? <a routerLink="/signup">Click here to sign up</a></p>
        </div>

        <div class="forgot-password">
          <p><a routerLink="/forgot-password">Forgot Password?</a></p>
        </div>
  
        
      </form>
    </div>
  </div>
  