
.feed-item {
    margin-bottom: 30px;
    padding-bottom: 15px;
  }


.user-info {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    width: 50px;
    /* height: 50px; */
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid #dcdcdc;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .username {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .shared-date {
    color: #999;
    font-size: 0.9rem;
  }
  
  .shared-content {
    margin-top: 15px;
  }
  
  .shared-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  .badge-image {
    width: 80px; /* Smaller size for badges */
  }



  @media (max-width: 768px) {
    .feed-item{
      margin-left:20px;
    }
  }
  @media (max-width: 480px) {
    .badge-image {
      width: 60px; /* Smaller size for badges */
    }
  }