<div class="welcome-container">
    <div class="narrator-container">
      <img class="narrator-image" src="/assets/narrator.png" alt="Narrator">
    </div>
    <div class="dialog-box">
      <h4>
        Welcome to <strong>YoungMind</strong>, brave adventurer!  
      </h4>
      <p class="message">
        We’re excited to have you here! <strong>YoungMind</strong> is designed to help you build essential study and mindfulness skills, empowering you to approach your programming test with confidence and calm.
      </p>
      <!-- <p class="message">
        Through a series of engaging challenges, you’ll sharpen your study techniques, boost your focus, and learn how to manage stress, all while improving your mental clarity and resilience.
      </p> -->
      <p class="message">
        Our goal is to help you feel prepared, reduce anxiety, and perform your best on your programming test. It’s time to transform the way you study and face your exam—stress-free and with a confident mindset!
      </p>
      <p class="message">
        Ready to begin your journey?
      </p>
      <!-- Start Button -->
      <div class="start-btn-container">
        <button class="start-btn" (click)="startJourney()">Login to start</button>
      </div>
    </div>
  </div>
  